body, html {
  font-family: sans-serif;
  line-height: 1.5;
}


ul li {
  margin-bottom: 0.4rem;
}


.button {
  display: inline-block;
  border: 1px solid #be5934;
  border-radius: 3px;
  padding: .5rem 1rem;
  color: #be5934;
  margin: 1rem;
  transition: all .15s ease-in-out;
}

.button:hover {
  background-color: #be5934;
  color: white;
}

h1,h2 {
  color: #be5934;
}